body, html{
    margin: 0;
    height: 100%;
    width: 100%;
}

#map{
    width: 100%;
    height: 100%;
}

.ol-zoom{
    top: 55px;
}

.navbar-inverse {
    background-color: rgba(34, 34, 34, 0.7);
    border-color: #080808;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}
.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}

#dataWidget{
    background: rgba(0,0,0,0.5);
    position: fixed;
    top : 55px;
    right: 5px;
    width: 200px;
    height: 400px;
    padding: 5px;
    color : white;
}

#tabData {
    overflow: auto;
    height: 100%;
}

#tabData tr:hover {
    color: orange;
    cursor: pointer;
}

